*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
p{
    color: #666666;
}
body{
    font-family: 'Gilroy', sans-serif;
    overflow-x: hidden;
}
img{
    max-width: 100%;
}
input{
    border: none;
}

/*   СЕТКА   */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-6{
    width: 50%;
    padding: 0 15px;
}
.col-4{
    width: 33.3333%;
    padding: 0 15px;
}
.col-3{
    width: 25%;
    padding: 0 15px;
}
/*   СЕТКА   */

/*    HEADER    */

.header{
    padding: 40px 0;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-nav{
    display: flex;
    align-items: center;
}
.top-menu li{
    display: inline-block;
    font-weight: 500;
}
.top-menu li:not(:last-child){
    margin-right: 36px;
}
.top-menu-item{
     font-size: 14px;
     line-height: 16px;
     transition: .6s;
 }
.top-menu-item:hover{
    color: #F25822;
}
.logo{
     display: flex;
     align-items: center;
     font-size: 24px;
     line-height: 28px;
     color: #000000;
    font-weight: 700;
 }
.logo span{
    color: #F25822;
}
.logo svg{
    margin-right: 14px;
}
.btn{
    font-size: 12px;
    line-height: 14px;
    background: #F25822;
    border-radius: 30px;
    padding: 13px 27px;
    color: #FFFFFF;
    display: inline-block;
    border: 1px solid transparent;
    transition: .6s;
    font-weight: 700;
}
.top-nav .btn{
    font-weight: 600;
    margin-left: 34px;
}
.top-nav .btn:hover{
    border: 1px solid #F25822;
    background: #f89b2b8f;
    color: #F25822;
}
.drop-down-menu{
    display: none;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #bbbbd0;
    background: #efefef;
    color: #000000;
    padding: 15px;
}
.features-drop-down{
    position: relative;
}
.features-drop-down:hover .drop-down-menu{
    display: block;
}
.drop-down-link{
    border-radius: 20px;
    border: 2px solid rgba(106, 79, 79, 0);
    transition: .6s;
}
.drop-down-link:not(:last-child){
    margin-bottom: 10px;
}
.drop-down-link:hover{
    color: #F25822;
}
/*    HEADER    */

/*    HERO   */
.hero{
    padding: 103px 0;

}
.hero-bg{
    max-width: none;
    width: 843px;
    height: 580px;
}
.ltr{
    direction: ltr;
}
.ltr .hero-bg{
    margin-top: -105px;
}
.hero-title{
    font-size: 60px;
    line-height: 70px;
    position: relative;
}
.hero-title:before{
    content: '';
    position: absolute;
    width: 314px;
    height: 76px;
    border: 1px solid #F25822;
    border-radius: 50%;
    top: 70px;
    left: -17px;
    z-index: -2;
}
.hero-desc{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    margin: 17px 0 37px;
}
.hero .btn{
    font-size: 15px;
    line-height: 18px;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    padding: 16px 36px;
}

/*    HERO   */


/* BRANDS */
.brand{
    padding: 97px 0;
}
.brand-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brands{
    max-width: 160px;
}

/* BRANDS */

/* ABOUT */
.about{
    position: relative;
    padding: 50px 0;
    background: #fafafa url("../images/waves.png") no-repeat center/cover;
}
.align-items-center{
    align-items: center;
}
.about-title{
    font-size: 45px;
    line-height: 53px;
}
.about-desc{
    line-height: 24px;
    margin: 20px 0 35px;
}
.about .btn{
    font-size: 15px;
    line-height: 18px;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    padding: 16px 31px;
}
.about-img{
    width: 800px;
    height: 600px;
    max-width: none;
}
.ltr .about-img{
    margin-top: -23px;
}
/* ABOUT */

/* FEATURES */
.features{
    padding: 140px 0 125px;
}
.features-row{
    margin: 0 -45px;
}
.features-col{
    padding: 0 45px;
}
.features-box{
    padding: 30px;
}
.features-icon{
    width: 70px;
    height: 70px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-title{
    font-size: 24px;
    line-height: 28px;
    margin: 25px 0 17px;
    color: #000000;
}
.features-desc{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 25px;
}
.features-link{
    font-size: 11px;
    line-height: 16px;
    color: #000000;
    font-weight: 700;
}
/* FEATURES */

/* ICONS */
.icon-red{
    background: rgba(242, 88, 34, 0.25);
}
.icon-green{
    background: rgba(20, 146, 17, 0.28);
}
.icon-yellow{
    background: rgba(255, 205, 29, 0.24);
}
/* ICONS */

/* SERVICES */
.services{
    text-align: center;
    padding: 92px 0 100px;
    background: #FAFAFA;
}
.section-title{
    font-size: 45px;
    line-height: 53px;
}
.section-desc{
    line-height: 24px;
    margin: 19px 0 54px;
}
.services-box{
    padding: 15px 30px 50px;
    background: #FFFFFF;
}
.services-title{
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 21px 0;
}
.services-desc{
    font-size: 15px;
    line-height: 22px;
    color: #AAAAAA;
    margin-bottom: 39px;
    max-width: 310px;
}
.services-link{
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    display: inline-block;
    padding: 15px 36px;
}
.services-img{
    height: 289px;
}
.services-img img{
    height: 100%;
    object-fit: cover;
}
/* SERVICES */

/* SEO */
.seo{
    padding: 107px 0 14px;
}
.seo-container{
    display: flex;
    justify-content: flex-end;
}
.seo-bg{
    direction: rtl;
}
.seo-img{
    max-width: none;
}
.seo-desc{
    margin: 19px 0 79px;
}
.seo-box{
    display: flex;
    align-items: center;
}
.seo-box:not(:last-child){
    margin-bottom: 47px;
}
.seo-icon{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seo-info{
    margin-left: 29px;
}
.seo-info-title{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 8px;
}
.seo-info-desc{
    font-size: 15px;
    line-height: 22px;
    color: #666666;
}
/* SEO */

/* FACTS */
.facts{
    padding: 100px 0;
}
.facts-content{
    border: 2px solid #EEEEEE;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 42px 0;
}
.facts-title{
    font-size: 70px;
    color: #666666;
    margin-bottom: 10px;
}
.facts-desc{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #666666;
}
.facts-box{
    position: relative;
}
.orange-circle:before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #F3602D;
    right: -71px;
    top: 50px;
}
.green-circle:before{
    background-color: #149211;
    right: -71px;
    margin: auto;
    top: 50px;
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.yellow-circle:before{
    background-color: #FFC700;
    right: -71px;
    top: 50px;
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
/* FACTS */

/* MAIL */
.mail-box{
    padding: 138px 0;
}
.mail-box-form{
    display: flex;
}
.mail-box-title{
    font-size: 45px;
    line-height: 67px;
    color: #000000;
}
.mail-box-desc{
    line-height: 24px;
    color: #666666;
    margin: 3px 0 55px;
}
::placeholder{
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #666666;
}
.mail-box-form input{
    max-width: 200px;
    padding: 17px 0 17px 20px;
    background: #EEEEEE;
}
.input-left{
    border-radius: 30px 0 0 30px;
}
.input-right{
    margin-left: -4px;
    border-radius: 0 30px 30px 0;
    border-left: 2px solid #CCCCCC;
}
.mail-box-btn{
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #FFFDFD;
    padding: 15px 49px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.25);
    border-radius: 50px;
    border: none;
    margin-left: 29px;
}
.mail-bg{
    width: 796px;
    height: 558px;
    max-width: none;
}
.ltr .mail-bg{
    margin-top: -50px;
}
/* MAIL */

/* PLANS */
.plans{
    padding: 87px 0 130px;
    background: #FAFAFA;
    text-align: center;
}
.plans-title{
    line-height: 68px;
}
.plans-desc{
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    margin: 3px 0 86px;
}
.plans-box{
    padding: 63px 79px 70px;
    background: #FFFFFF;
}
.plans-box-title{
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    transition: .6s;
}
.plans-box-subtitle{
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}
.plans-box-subtitle span{
    font-size: 70px;
    line-height: 105px;
    font-weight: 500;
    position: relative;
}
.plans-box-subtitle span:before{
    content: "$";
    position: absolute;
    top: 10px;
    left: -10px;
    font-size: 18px;
    line-height: 27px;
}
.plans-items{
    margin: 3px 0 39px;
}
.plans-items li{
    list-style: none;
}
.plans-item{
    font-size: 16px;
    line-height: 40px;
    color: #666666;
}
.plans-box-btn{
    font-weight: 700;
    font-size: 13px;
    line-height: 32px;
    color: #F3602D;
    padding: 9px 64px;
    background: rgba(242, 88, 34, 0.25);
    border-radius: 50px;
    display: inline-block;
    transition: .6s;
}
.plans-box:hover .plans-box-title{
    color: #F25822;
}
.plans-box:hover .plans-box-btn{
    color: #FFFFFF;
    background: #F25822;
    box-shadow: 4px 4px 10px rgba(242, 88, 34, 0.25);
}
/* PLANS */

/* TEAM */
.team{
    padding: 86px 0 100px;
    text-align: center;
}
.team-desc{
    margin: 25px 0 52px;
    font-weight: 500;
}
.team-box{
    padding: 50px 70px;
    border: 1px solid #EEEEEE;
}
.box-title{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin-top: 14px;
}
.box-subtitle{
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #888888;
    margin-bottom: 17px;
}
.socials-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
}
.social-icon svg path{
    fill: #aaaaaa;
    transition: .6s;
}
.social-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    transition: .6s;
}
.social-icon:hover svg path{
    fill: #ffffff;
}
.social-icon:hover{
    background-color: #f25822;
}
/* TEAM */

/* TESTIMONIALS */
.testimonials{
    padding: 93px 0 142px;
    text-align: center;
}
.testimonials .section-title{
    line-height: 53px;
}
.testimonials .section-desc{
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    margin: 19px 0 55px;
}
.testimonials-box{
    padding: 25px 30px 27px;
    border: 2px solid #EEEEEE;
    position: relative;
}
.testimonials-box:before{
    content: url("../images/quote.png");
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}
.testimonials-box-desc{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #888888;
}
.testimonials-img img{
    border-radius: 50%;
    margin: 28px 0 5px;
}
.testimonials-box-title {
    font-size: 13px;
    line-height: 19px;
    font-weight: 600;
}
.testimonials-box-subtitle{
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #888888;
    margin-bottom: -1px;
}
/* TESTIMONIALS */

/* BLOG */
.blog{
    padding: 93px 0 142px;
}
.post{
    height: 330px;
}
.blog-row .center{
    box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
}
.blog-title{
    text-align: center;
    font-size: 45px;
    line-height: 67px;
}
.blog-desc{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #666666;
    margin: 5px 0 45px;
}
.blog-img img{
    width: 466px;
    height: 349px;
    object-fit: cover;
}
.blog-box{
     padding: 46px 30px 45px 0;
 }
.blog-box-title{
    font-size: 24px;
    line-height: 36px;
}
.blog-stats{
    display: flex;
    align-items: center;
}
.blog-stats div{
    display: flex;
    align-items: center;
    margin: 20px 0 22px;
    font-weight: 500;
}
.blog-stats div:not(:last-child){
    margin-right: 35px;
}
.blog-stats div span{
    font-size: 11px;
    line-height: 16px;
    color: #888888;
}
.blog-box-desc{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 26px;
    font-weight: 500;
}
.blog-box-link{
    font-size: 11px;
    line-height: 16px;
    color: #F25822;
    font-weight: 700;

}
.owl-item{
    opacity: 0.5;
    border: 2px solid #EEEEEE;
}
.owl-item.center{
    opacity: 1;
    height: 335px;
    border: none;
    box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #F25822;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 32px;
}
/* BLOG */



/* FOOTER */
.footer{
    padding: 94px 0 19px;
    background:  #F3F3F3;
}
.footer-logo{
    display: flex;
    align-items: center;
    font-size: 28px;
    line-height: 33px;
    font-weight: 700;
}
.footer-logo span{
    color: #F25822;
}
.footer-desc{
    font-size: 16px;
    line-height: 26px;
    margin: 40px 0 8px;
}
.footer-box{
    margin-bottom: 54px;
}
.footer-socials-box{
    display: flex;
    align-items: center;
}
.footer-icon svg path{
    fill: #aaaaaa;
    transition: .6s;
}
.footer-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    transition: .6s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
}
.footer-icon:hover svg path{
    fill: #ffffff;
}
.footer-icon:hover{
    background-color: #f25822;
}
.footer-box-title{
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 34px;
}
.footer-links{
    list-style: none;
    margin-left: 16px;
}
.footer-link{
    font-size: 16px;
    line-height: 37px;
    font-weight: 600;
    color: #666666;
    position: relative;
}
.footer-link:before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #F25822;
    border-radius: 50%;
    left: -16px;
    top: 7px;
}
.our-contacts{
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.our-contacts a{
    color: #666666;
}
.footer-copyright{
    padding-top: 19px;
    font-size: 16px;
    line-height: 37px;
    color: #888888;
    text-align: center;
    border-top: 1px solid #CCCCCC;
}
/* FOOTER */